.hero {
  width: 55%;
  color: #ffffff;
}

.heading {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
  margin-bottom: 30px;
}

.headingUnderline {
  width: 165px;
  height: 4px;
  background-color: #debf79;
  margin-bottom: 20px;
}

.paragraph {
  width: 470px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 30px;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 100%;
    margin-bottom: 40px;
  }

  .heading {
    font-size: 48px;
    line-height: 54px;
    margin-left: 20px;
  }

  .headingUnderline {
    width: 211px;
    height: 4px;
    background-color: #debf79;

    margin-bottom: 20px;
  }

  .paragraph {
    max-width: 353px;
    font-size: 16px;
    line-height: 25px;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: justify;
  }
}
